* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "M PLUS 1 Code", sans-serif;
}
/* navbar styling */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #3498db;
	height: 10vh;
	display: flex;
	align-items: center;
}
nav a {
	font-size: 1.2rem;
	text-decoration: none;
	margin-left: 2rem;
	color: #000;
	font-weight: 600;
}
nav a:hover {
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
/* end navbar styling */
.mainHome {
	height: 80vh;
}
.landingText {
	margin-top: 4rem;
}
/* tooltip styling */
.info {
	width: 20px;
	height: 20px;
}
.info:hover {
	cursor: pointer;
}
.tutorialContainer {
	position: relative;
	margin-left: 1rem;
	display: flex;
	align-items: center;
}
.tutorialContainer:hover .tutorialContent {
	visibility: visible;
	opacity: 1;
	transition: 0.25s all ease;
	transition-delay: 0s;
}

.tutorialContent {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 45px;
	left: -200px;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	font-size: 15px;
	width: 350px;
	height: 350px;
	transition: 0.25s all ease;
	transition-delay: 0.25s;
	z-index: 2;
	border-radius: 4px;
	color: #fff;
}
.tutorialContent:after {
	content: "";
	position: absolute;
	border-width: 10px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid black;
	border-style: solid;
	top: -20px;
	left: 200px;
}
.tutorialContent span {
	color: #fff;
	font-weight: 600;
	text-decoration: underline;
}
