* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "M PLUS 1 Code", sans-serif;
}
/* navbar styling */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #3498db;
	height: 10vh;
	display: flex;
	align-items: center;
}
nav a {
	font-size: 1.2rem;
	text-decoration: none;
	margin-left: 2rem;
	color: #000;
	font-weight: 600;
}
nav a:hover {
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
/* end navbar styling */
.mainHome {
	height: 80vh;
}
.landingText {
	margin-top: 4rem;
}
